<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Подключение property файла -->
    <context:property-placeholder location="classpath:myApp.properties"/>

    <!-- 1ый способ задать конфиг для Inversion of Control - Всё через XML -->
    <bean id="myPet"
          class="spring_introduction.Cat">
    </bean>

    <bean id="myPerson"
          class="spring_introduction.Person">
        <!-- Задание зависимости через setter
             Необходимо внимательно следить именами setter'ов-->
        <property name="pet" ref="myPet"/>

        <!-- Для изменения данных бинов не принято менять что то в
             конфиг файле. Для этого испеользуеют специальный properties файл. -->
        <property name="surname" value="${person.surname}"/>
        <property name="age" value="${person.age}"/>
    </bean>

</beans>